/* shared style  */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.primary-color{
    color: #272727;
}
.secondary-color{
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    font-size: 18px;
    font-weight: 700;
    background-color: #E55473;
    color: #FFFFFF;
    padding: 20px 40px;
    border: 0;
    border-radius: 8px;
}
.title{
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.details{
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
}
/* header section style  */
header{
    background-color:rgba(229, 84, 115, 0.10);
    padding: 50px 120px 0 120px;
}
.banner{
    display: flex;
    gap: 80px;
    align-items: center;
}
.banner-column1{
    width: 60%;
}
.banner-column2{
    width: 40%;
}
.banner-title{
    font-size: 70px;
    font-weight: 700;
    margin: 0 0 32px 0;
}
.banner-details-text{
    margin: 0 0 32px 0;
    font-size: 16px;
    font-weight: 400;
}
.banner-column2 img{
    height: 550px;
    width: 100%;
    display: block;
}

/* hot deal section style  */
.hot-deal-container{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    padding: 50px 180px;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
}
.hot-deal-column1{
    width: 70%;
    text-align: center;
}
#off{
    color:#E55473;
}
.hot-deal-column2{
    width: 30%;
}
.hot-deal-column2 img{
    height: 350px;
    width: 100%;
}

/* instagram section style  */
.instagram{
    text-align: center;
    margin-top: 120px;
    padding:0 120px;
   
}
.instagram-images{
    display: flex;
}
.instagram-images img{
    padding: 30px 20px;
    width: 25%;
    height: 350px;
    box-sizing: border-box;
}